---
import Layout from "../layouts/Layout.astro";
import VisitorPopup from "../components/VisitorPopup.astro";
import NavBar from "../components/NavBar.astro";
import GuestbookPreview from "../components/guestbook/GuestbookPreview.astro";
import BadgeBanner from "../components/BadgeBanner.astro";
import orb from "../assets/bits/orb.gif";
import Image from "astro/components/Image.astro";
import dragon from "../assets/bits/dragon.gif";
import dwarf from "../assets/bits/dwarf.gif";
---

<Layout>
	<div class='container'>
		<NavBar />
		<div class='main-content'>
			<div class='header-container'>
				<h1>Welcome to Luke Cannon's Website!!!</h1>
				<p class='subheading'>[Random funny thing here]</p>
			</div>
			<div class='content-grid'>
				<div class='grid-col' id='grid-col-0'>
					<VisitorPopup count={42} />
					<div style='padding: 4px'>
						<p class='gb-header'>Latest Guestbook Entries</p>
						<GuestbookPreview limit={5} />
						<a href='/guestbook'>Sign the Guestbook →</a>
					</div>
					<div class='feed-the-dragon-container'>
						<p>FEED THE DRAGON</p>
						<div
							class='dwarf-draggable dwarf'
							style=`background-image: url(${dwarf.src})`
						>
						</div>
						<Image src={dragon} alt='Dragon GIF' class='dragon' />
					</div>
				</div>
				<div class='grid-col' id='grid-col-1'>
					<div class='about-the-webmaster'>
						<h2>About the Webmaster</h2>
						<p>
							Hi!!! I'm Luke. My job is computer. I hope you enjoy
							this website, because I enjoyed making it. Why don't
							you stay a while and look around?
						</p>
						<p>Check out my <a href='/projects'>projects</a>!</p>
						<p>Sign the <a href='/guestbook'>guestbook</a>!</p>
						<p>Get in touch <a href='/contact'>here</a>!</p>
					</div>
					<a
						href='https://www.youtube.com/watch?v=xOPVMhbhfDE'
						target='_blank'
						rel='noopener noreferrer'
						class='orb-ad'
					>
						<Image src={orb} alt='Enlarge your orb fake ad' />
					</a>
					<BadgeBanner />
				</div>
			</div>
		</div>
	</div>
</Layout>

<script>
	import { createDraggable, animate } from "animejs";

	const feedTheDragonContainer = document.querySelector(
		".feed-the-dragon-container",
	) as HTMLElement;
	const dwarf = document.querySelector(".dwarf-draggable") as HTMLElement;

	createDraggable(dwarf, {
		container: feedTheDragonContainer,
		onGrab: () => {
			dwarf.classList.add("dragging");
		},
		onRelease: () => {
			dwarf.classList.remove("dragging");
		},
	});
</script>

<style>
	.container {
		margin-bottom: 40px;
		/* background: red; */
	}
	.content {
		/* padding: 24px; */
	}

	h2 {
		margin: 0;
		font-family: cursive, sans-serif;
	}
	.subheading {
		/* font-size: 1.25rem; */
		color: var(--color-lime);
		font-style: italic;
	}
	.main-content {
		padding: 10px;
		max-width: var(--max-width-page);
		margin: 0 auto;
	}

	.content-grid {
		/* background: rgb(209, 208, 221); */
		background: rgb(22, 51, 53);
		padding: 4px;
		/* color: black; */

		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 12px;

		@media (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	.grid-col {
		display: flex;
		flex-direction: column;
		gap: 12px;
		/* padding: 6px; */
	}

	#grid-col-1 {
		/* background: rgb(209, 208, 221); */
		/* background: rgb(230, 190, 233); */
	}

	.gb-header {
		margin: 0;
		font-size: 1.25rem;
		font-family: monospace, sans-serif;
		color: var(--color-pink);
	}

	.gb-preview-container {
		/* border: 2px solid var(--color-pink); */
		/* margin: 8px;
		background: rgb(34, 33, 64); */
	}

	.header-container {
		text-align: center;
		margin-bottom: 24px;
	}

	.header-container h1,
	.header-container p {
		margin: 10px 0;
	}

	.about-the-webmaster {
		padding: 10px;
		margin: 4px;
		background: rgb(34, 33, 64);
		/* border: 2px solid var(--color-pink); */
	}
	.orb-ad {
		margin: 0 auto;
		height: auto;
		border: 2px solid rgba(255, 255, 255, 0.433);

		@media (max-width: 600px) {
		}
	}

	.orb-ad img {
		display: block;
		width: 100%;
		height: auto;
	}

	.feed-the-dragon-container {
		background: white;
		position: relative;
		height: 105px;
	}

	.feed-the-dragon-container p {
		color: black;
		position: absolute;
		margin: 0;
	}

	.dragon {
		margin: 0 auto;
		position: absolute;
		right: 10px;
		pointer-events: none;
		z-index: 20;
		/* filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.5)); */
	}

	.dwarf {
		z-index: 0;
		margin: 0 auto;
		position: absolute;
		left: 10px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 10px;
		height: 50px;
		width: 45px;
	}
</style>
