---
import VisitorPopup from "../components/VisitorPopup.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class='test-container'>
		<VisitorPopup />
	</div>
</Layout>

<style>
	.test-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>
